<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Veteriner Uygulamasına Hoşgeldiniz</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
</head>
<body style="background-color: black">
<div class="container-fluid text-center">
<h1 style="color: white;">Veteriner Uygulamasına Hoşgeldiniz</h1>
  <div> <img src="https://img5.goodfon.com/wallpaper/nbig/5/10/sobaka-shchenok-velsh-korgi-korgi-chernyi-fon-milyi-mordashk.jpg" width="600">

      <a class="h2" style="color:sandybrown;font-size: 40px;"th:href="@{/animals}">Hayvanlar</a>

  </div>
</div>

</body>
</html>